// Colors
$primary-color: #333;
$secondary-color: #fff;

// Margins and Paddings
$small-margin: 10px;
$medium-margin: 20px;
$large-margin: 30px;

// Font
$primary-font: Arial, sans-serif;

// _variables.scss
$breakpoint-tablet: 1024px;
$breakpoint-mobile-landscape: 768px;
$breakpoint-mobile-portrait: 480px;
