ZZ_NOTES
virtual_environments_smell_like_updog/
__pycache__/
*.pyc
geckodriver.log
AutoApply/geckodriver.log
SetupConfigs/virtual_environments_smell_like_updog/
virtual_environments_smell_like_up_dog/
SetupConfigs/virtual_environments_smell_like_up_dog/
awesome_i_can_name_this_anything_i_told_google_my_organizations_name_was_Nicks_Private_Parts_and_that_i_sell_computer_parts/
SetupConfigs/awesome_i_can_name_this_anything_i_told_google_my_organizations_name_was_Nicks_Private_Parts_and_that_i_sell_computer_parts/
awesome_i_can_name_this_anything_uhhhh_apple_sucks/
SetupConfigs/awesome_i_can_name_this_anything_uhhhh_apple_sucks/
AutoApply/__pycache__/
AutoApply/__pycache__
models
models/
.DS_Store
DataOutput/JobsThatUserHasAppliedTo.csv
Scraper
VirtualEnvironmentWithGitNotes.txt
Web Scraping Sandbox.txt
ProjectWebpage/node_modules
ProjectWebpage/package-lock.json
ProjectWebpage/build
ProjectWebpage/build
app.log
.vscode\settings.json
AutoApply\Untitled-1.py
AutoApply\Untitled-3.py
