ZZ_NOTES
virtual_environments_smell_like_updog/
__pycache__/
*.pyc
geckodriver.log
Legit/geckodriver.log
ThisFolderWasMadeAtThreeAM/virtual_environments_smell_like_updog/
virtual_environments_smell_like_up_dog/
ThisFolderWasMadeAtThreeAM/virtual_environments_smell_like_up_dog/
awesome_i_can_name_this_anything_i_told_google_my_organizations_name_was_Nicks_Private_Parts_and_that_i_sell_computer_parts/
ThisFolderWasMadeAtThreeAM/awesome_i_can_name_this_anything_i_told_google_my_organizations_name_was_Nicks_Private_Parts_and_that_i_sell_computer_parts/
awesome_i_can_name_this_anything_uhhhh_apple_sucks/
ThisFolderWasMadeAtThreeAM/awesome_i_can_name_this_anything_uhhhh_apple_sucks/
Legit/__pycache__/
models/
.DS_Store
DataOutput/JobsThatUserHasAppliedTo.csv
Scraper
VirtualEnvironmentWithGitNotes.txt
Web Scraping Sandbox.txt
ProjectWebpage/node_modules
ProjectWebpage/package-lock.json
ProjectWebpage/build
ProjectWebpage/build