


    def determine_current_page(self, job_link, application_company_name):
        d
        if application_company_name == "lever":
            # do stuff


        elif application_company_name == "greenhouse":
            div_main = soup.find("div", id="main")

            next_elem = div_main.find_next()
            while next_elem:
                if self.is_company_job_openings_page(next_elem):
                    print("-Company Job Openings Page")
                    return self.applying_process_webpage[3]
                elif next_elem.name == "div" and next_elem.get("id") in ["app-body", "app_body"]:
                    app_body = next_elem
                    header = next_elem.find("div", id="header")
                    content = next_elem.find("div", id="content")
                    
                    if header and content:
                        print("-Job Description Page")











    def is_company_job_openings_page(self, elem):
        if application_company_name == "lever":
            bv
        elif application_company_name == "greenhouse":
            if elem.name == "div" and (elem.get("id") == "flash-wrapper" or elem.get("id") == "flash_wrapper"):
                return True
            elif elem.name == "div" and elem.get("id") == "embedded_job_board_wrapper":
                return True
            elif elem.name == "section" and elem.get("class") == "level-0":
                return True
            else:
                return False
