beautifulsoup4==4.11.2
python-dotenv==1.0.0
Requests==2.30.0
selenium
lxml==4.9.2
openpyxl==3.1.2
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
spacy==3.5.0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.0
nltk==3.8.1
torch==2.0.1
transformers==4.14.1
clean-text[gpl]
setuptools
# This also includes uvicorn
"fastapi[all]"
#pywin32
#wordnet==2.1
#config
#csv
#dotenv
#spacy==3.5.2
#https://github.com/acheong08/ChatGPT/issues/53
#-U spacy
#torch==1.10.0
#-U transformers
#NOTE: In code ':='(walrus operator) needs Python 3.8 to work!!